In [74]:
import numpy as np
import pandas as pd
df=pd.read_csv(r"scrap-depas-orig .csv",dtype="string")
print(df)

     web-scraper-order                              web-scraper-start-url  \
0     1615702230-16312  https://www.inmuebles24.com/departamentos-en-r...
1     1615702145-16058  https://www.inmuebles24.com/departamentos-en-r...
2     1615702185-16186  https://www.inmuebles24.com/departamentos-en-r...
3     1615702129-15999  https://www.inmuebles24.com/departamentos-en-r...
4     1615702223-16301  https://www.inmuebles24.com/departamentos-en-r...
...                ...                                                ...
1144  1615701713-15373  https://www.lamudi.com.mx/queretaro-arteaga/qu...
1145  1615701747-15486  https://www.lamudi.com.mx/queretaro-arteaga/qu...
1146  1615701626-15076  https://www.lamudi.com.mx/queretaro-arteaga/qu...
1147  1615701694-15301  https://www.lamudi.com.mx/queretaro-arteaga/qu...
1148  1615701747-15482  https://www.lamudi.com.mx/queretaro-arteaga/qu...

                                               desc_dep precio_depa
0                 Departamento en Planta Baja con Patio   MN 10,000
1     Bonito Departamento en Desarrollo Exclusivo Au...   MN 28,000
2     Juriquilla, Departamento Amueblado Tipo Luxury...   MN 22,500
3     Se Renta Lujoso Departamento en Biosfera Tower...   MN 15,000
4     Departamento Renta en Wiseliving La Cañada en ...   MN 20,000
...                                                 ...         ...
1144                          Departamento - Juriquilla     $22,000
1145  RENTA O VENTA DEPARTAMENTO EN ALTAVISTA JURIQU...     $14,000
1146        DEPARTAMENTO EN RENTA AMUEBLADO, EN ADAMANT     $15,000
1147  Departamento Amueblado en Renta Planta Baja Ju...     $11,500
1148             Departamento en Renta. Juriquilla. FVR     $14,500

[1149 rows x 4 columns]

In [3]:
print(df.count())
print(df.dtypes)

web-scraper-order        1149
web-scraper-start-url    1149
desc_dep                 1149
precio_depa              1142
dtype: int64
web-scraper-order        string
web-scraper-start-url    string
desc_dep                 string
precio_depa              string
dtype: object

In [76]:
df['precio_depa'] = df['precio_depa'].fillna('0')
df['precio_depa'] = df['precio_depa'].apply(lambda x: x.replace('$', '').replace(',', '').replace('MN','').replace('USD','').replace(' ','')).astype(float)

In [55]:
print(df['precio_depa'])

0       10000
1       28000
2       22500
3       15000
4       20000
        ...
1144    22000
1145    14000
1146    15000
1147    11500
1148    14500
Name: precio_depa, Length: 1149, dtype: object

In [81]:
df['precio_depa'] = df['precio_depa'].replace(0,np.NaN)

In [58]:
print(df.dtypes)

web-scraper-order         string
web-scraper-start-url     string
desc_dep                  string
precio_depa              float64
dtype: object

In [82]:
promedio = df['precio_depa'].mean()
print(promedio)

26581.183012259193

In [110]:
import numpy as np
import pandas as pd
data=pd.read_csv(r"lamudi_casa_2.csv",dtype="string")
print(data)

    web-scraper-order                              web-scraper-start-url  \
0     1616367587-1657  https://www.lamudi.com.mx/queretaro-arteaga/qu...
1     1616367671-1789  https://www.lamudi.com.mx/queretaro-arteaga/qu...
2     1616367608-1704  https://www.lamudi.com.mx/queretaro-arteaga/qu...
3     1616367838-2036  https://www.lamudi.com.mx/queretaro-arteaga/qu...
4     1616367734-1887  https://www.lamudi.com.mx/queretaro-arteaga/qu...
..                ...                                                ...
936    1616365440-730  https://www.inmuebles24.com/casas-en-renta-en-...
937    1616365654-949  https://www.inmuebles24.com/casas-en-renta-en-...
938    1616365654-954  https://www.inmuebles24.com/casas-en-renta-en-...
939    1616365312-635  https://www.inmuebles24.com/casas-en-renta-en-...
940    1616365483-759  https://www.inmuebles24.com/casas-en-renta-en-...

                                               descrip        precio
0          Casa en renta El Mirador 3 habitaciones AVH       $12,000
1                                    Casa - Juriquilla       $55,000
2        Casa en renta en Misión Mariana, Corregidora.       $10,000
3                       RENTA CASA REFUGIO RESIDENCIAL       $17,900
4                       CASA NUEVA EN RENTA JURIQUILLA       $14,200
..                                                 ...           ...
936                    Oficina en Renta Wtc Juriquilla     MN 14,000
937                        Casa en Renta El Refugio Lc     MN 13,000
938  Casa en Renta con Finos Acabados y Pisos de Po...  MN 2,516,000
939      Casa en Renta en Lomas del Campanario I, D178     MN 35,000
940         Casa Moderna en Renta, Valle de Juriquilla     MN 19,500

[941 rows x 4 columns]

In [111]:
print(data['precio'])

0           $12,000
1           $55,000
2           $10,000
3           $17,900
4           $14,200
           ...
936       MN 14,000
937       MN 13,000
938    MN 2,516,000
939       MN 35,000
940       MN 19,500
Name: precio, Length: 941, dtype: string

In [112]:
replace('Contactaragenteparasaberprecio','0'))data['precio'] = data['precio'].apply(lambda x: x.replace('$', '').replace(',', '').replace('MN','').replace('USD','').replace(' ','')..astype(float)

In [113]:
data['precio'] = data['precio'].replace(0,np.NaN)

In [114]:
print(data.dtypes)
print(data['precio'])

web-scraper-order         string
web-scraper-start-url     string
descrip                   string
precio                   float64
dtype: object
0        12000.0
1        55000.0
2        10000.0
3        17900.0
4        14200.0
         ...
936      14000.0
937      13000.0
938    2516000.0
939      35000.0
940      19500.0
Name: precio, Length: 941, dtype: float64

In [115]:
prom = data['precio'].mean()
print(prom)

65278.302027748134